In [4]:
import pandas as pd

house = pd.read_csv("HousePrice.csv")

print(house.shape)

(505, 8)

In [18]:
house = house.drop_duplicates()#delete the duplicate data

print(house.shape)

(504, 9)

In [19]:
print(house.describe())

             beds       baths         size     lot_size      zip_code  \
count  504.000000  504.000000   504.000000   427.000000    504.000000
mean     2.958333    2.222222  1854.771825  4003.813981  98125.220238
std      1.213022    1.012949   921.120496  2693.165468     24.681935
min      1.000000    1.000000   376.000000     0.230000  98101.000000
25%      2.000000    1.500000  1173.250000  1365.000000  98108.000000
50%      3.000000    2.000000  1690.000000  4192.000000  98118.000000
75%      4.000000    2.500000  2402.500000  6000.000000  98126.000000
max      9.000000    7.000000  6139.000000  9974.000000  98199.000000

              price
count  5.040000e+02
mean   9.795417e+05
std    6.090798e+05
min    1.700000e+05
25%    6.197425e+05
50%    8.400000e+05
75%    1.156250e+06
max    6.250000e+06

In [20]:
def house_type(type):#Room size according to number of beds
  if type >= 5:
    return "large"
  elif type >=3 and type <5:
    return "median"
  else:
    return "small"


house["type"] = house["beds"].apply(house_type)

print(house["beds"].describe())

print(house.head)

count    504.000000
mean       2.958333
std        1.213022
min        1.000000
25%        2.000000
50%        3.000000
75%        4.000000
max        9.000000
Name: beds, dtype: float64
<bound method NDFrame.head of      beds  baths    size size_units  lot_size lot_size_units  zip_code  \
0       3    3.0  2850.0       sqft   4200.00           sqft     98119
1       4    5.0  3040.0       sqft   5002.00           sqft     98106
2       3    1.0  1290.0       sqft   6048.00           sqft     98125
3       3    2.0  2360.0       sqft      0.28           acre     98188
4       3    3.5  1942.0       sqft   1603.00           sqft     98107
..    ...    ...     ...        ...       ...            ...       ...
500     5    4.5  5580.0       sqft      0.30           acre     98146
501     3    2.5  1390.0       sqft   1570.00           sqft     98126
502     3    2.5  2950.0       sqft      0.47           acre     98118
503     5    5.0  3010.0       sqft   4887.00           sqft     98115
504     3    2.0  1301.0       sqft   3000.00           sqft     98103

         price    type
0    1175000.0  median
1    1057500.0  median
2     799000.0  median
3     565000.0  median
4    1187000.0  median
..         ...     ...
500  3800000.0   large
501   575000.0  median
502  3105000.0  median
503  1807000.0   large
504   895000.0  median

[504 rows x 9 columns]>